
<!DOCTYPE html>
<html ng-app="quotationsApp">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/application.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <script src="/lib/underscore.js"></script>
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-underscore.js"></script>
    <script src="/lib/angular-local-storage.js"></script>
    <script src="/lib/angular-resource.js"></script>
    <script src="/lib/jquery-2.1.3.js"></script>
    <script src="/lib/jquery.csv-0.71.min.js"></script>
    <script src="/lib/jquery.tagcloud.js"></script>

    <script src="/js/quotations-ru.js"></script>

    <script src="/js/components.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>


  </head>
  <body>
    <div ng-controller="MainCtrl">
      <h3>Жемчужины мудрости</h3>
      <p>Подборка изречений выдающихся людей древности и современности, с возможностью удобного поиска по автору и ключевым словам. Также с возможностью всплывающих сообщений со случайно выбранной цитатой.<p>

      <div tag-cloud class="authors-cloud">
        <a href="/path" rel="7">peace</a>
        <a href="/path" rel="3">unity</a>
        <a href="/path" rel="10">love</a>
        <a href="/path" rel="5">having fun</a>
      </div>

      <span ng-repeat="author in authors">
        <a ng-ref="/quotes/{{author}}" ng-click="search(author)">{{author}}</a>&nbsp;&nbsp;
      </span>
      <br>
      <input ng-model="searchBy">
      <br>

      <div>
        <div ng-repeat="quote in commonQuotations | filter:searchBy">
          {{quote.text}}
        </div>
      </div>
      <br>

    </div>
  </body>
</html>