/*style.css*/
body {
  margin: 15px;
}

.author-sign {
  font-size: 0.9em;
  font-style: italic;
}

.star_empty {
  background-image: url("/images/star-empty.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.star_full {
  background-image: url("/images/star-full.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}